<h1>Users</h1>
<button class="btn btn-primary" (click)="add()" >Add</button>

<table class="table">
    <thead>
      <tr>
        <th scope="col">User</th>
        <th scope="col">Email</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | async">
        <td>{{user.data.name}}</td>
        <td>{{user.data.email}}</td>
        <td>
            <a [routerLink]="['/add',user.id]">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
        </td>
        <td>
            <a>
                <i (click)="delete(user.id,user.data.name)" class="fa-solid fa-trash-can"></i>
            </a>
        </td>
      </tr>
    </tbody>
</table>
